
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;  
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    
    width: 400px;
    background-color:aquamarine;
    flex-wrap: wrap;
    padding: 20px;
}
#text{
    width:50%;

}
#inp{
    width:50%;
    margin-bottom: 10PX;
}
#button{
    
    width:50%;
}

